.footer-container{
    width: 100%;
}
/* .footer{
margin: auto;
} */

.footer-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

@media only screen and (max-width: 600px){
    .footer-content{
        display: grid;
        grid-template-columns:repeat(1, 1fr);
    }

    /* .footer-container{
        width: 430px !important;
    } */
}
